.form-control {
  margin: 1rem;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.form-control label {
  color: #ffffff;
}

.form-control input {
  border: 1px solid #ffffff;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #00695c;
}

.form-control input.invalid {
  border-color: red;
}